email-validator>=2.0.0
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
pydantic
pydantic-settings
python-multipart
jinja2
python-dotenv
alembic
PyYAML>=6.0.1
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
fpdf2
httpx
google-genai
